body {
  background-color: #FFD9DF;
  color: #ffffff;
  margin : 0;
}

section{
  max-width: 46em;
  margin: 0 auto;
  position: relative;
  padding-top : 4em;
}

header {
  background-color: #ffffff;
  color : #723900;
    padding: -1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-top: 2em;

}

section::before {
  content: " ";
  display : block;
  width: 120px;
  height : 120px;
  position: absolute;
  top : -60px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background-color: #fff;

}

.nastyadvert {
  background-image: url(background-01.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 3.5em;
  padding-bottom: 2px;
  padding-top: 2em;
}

.mywork {
  background-color: white;
padding-top: 4em;
}

.mywork ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
}

.mywork li {
  border: #OOO solid 1em;
  max-width: 33%;
}

.mywork img {
  width: 100%;
}

td {
  border: 1px solid black;
}


footer {
  background-color: ##FFD9DF;
  color : #723900;

}

footer a {
  color: #944A00;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}
 .linklist {
   list-style-type: none;
 }

.linklist li {
  margin : 12px;
}
